// FONT FAMILY NAME AS VAR
$Bold: 'Roboto-Bold',
sans-serif; // 700

$Regular: 'Roboto-Regular',
sans-serif; // normal


$font-path:'../../assets/fonts/Roboto/';
$list: 'Roboto-Regular''Roboto-Bold';

@each $name in $list {
    $src: $font-path + $name;

    @font-face {
        src: url($src + '.ttf') format('truetype');
        font-family: $name;
    }
}