.crumb {
    margin: rem(0 0 41px);

    @include md {
        margin: rem(0 0 33px);
    }

    @include xs {
        margin: rem(0 0 18px);
    }


    &-logo {
        width: rem(40px);
        height: rem(40px);
        margin-right: rem(12px);

        @include sm {
            margin-right: rem(12px);
        }
    }

    &-arrow {
        color: var(--neutral_color_black);

        @include xs {
            transform: rotate(90deg);
        }
    }

    &-page {
        font: rem(16px) $Regular;
        color: var(--neutral_color_black);
        margin: rem(0 12px);

        &:hover {
            color: #999999;
        }

        @include sm {
            margin: rem(12px);
        }
    }

    &-active {
        color: #999999;
        font: rem(16px) $Regular;
        margin-left: rem(12px);

        @include sm {
            margin-left: rem(12px);
        }

    }

}