input:not(.range-input, .increment-input) {
    width: 100%;
    font: rem(16px) $Regular;
    line-height: rem(27px);
    color: var(--grey_color_dark-text);
    border: 1px solid var(--grey_color_border-input);
    padding: 7px 6px;
    background-color: var(--neutral_color_white);
    border-radius: 8px;
    box-shadow: none;

    &::placeholder {
        font: rem(16px) $Regular;
        line-height: rem(27px);
        color: var(--grey_color_light-text);
        opacity: .37;
    }



    &.input-active {
        border: 1px solid var(--primary_color_green-dark);
    }


    &.input-table {
        padding: 24px 25px;

        &:hover {
            border: transparent;
        }

    }
}