.scrollbar {
   overflow: auto;

   &::-webkit-scrollbar {
      @include wh(4px);
   }

   &::-webkit-scrollbar-thumb {
      background-color: var(--grey_color_default-999999);
      border-radius: 2px;

   }

   &::-webkit-scrollbar-track {
      background-color: var(--grey_color_title-808080);
      border-radius: 2px;

   }
}