@import './shared',
'./icons',
'./normalize',
'./flex-box',
'./grid-box',
'./root';


//  html

html {
   background-color: var(--body_bg);
   font-size: rem(15px);
}


// container  -- START
.container {
   // max-width: 1920px;
   width: 100%;
   padding: 0 40px;
   margin: 0 auto;
}

// container  -- END


// cursor pointer -- START
.cursor-pointer {
   cursor: pointer;
}

// cursor pointer -- END 

// section-title -- START
.section-title {
   font: rem(20px) $Medium;
   line-height: rem(23px);
   color: var(--default_dark);

   &__activ {
      color: var(--primary_color_green-dark);
   }
}

// section-title -- END


// line-clamp -- START
.line-clamp {
   display: -webkit-box;
   overflow: hidden;
   text-overflow: ellipsis;
   /*! autoprefixer: off */
   -webkit-box-orient: vertical;

   /*! autoprefixer: off */

   &_2 {
      -webkit-line-clamp: 2;
   }

   &_3 {

      -webkit-line-clamp: 3;
   }
}

// line-clamp -- END


// overflow-hidden -- START
.overflow-hidden,
.modal-overflow {
   overflow: hidden;
}

// overflow-hidden -- END

// display block -- START
.d-block {
   display: block;
}

.d-none {
   display: none;
}

// display block -- END




@import // modules
'../modules/buttons',
'../modules/checked',
'../modules/input-textarea',
'../modules/pagination',
'../modules/dropdown-select',
'../modules/scrollbar',
'../modules/date-time-range-picker',
'../modules/modals-blocks',
'../modules/table',
'../modules/main-section',

// header
'../header/header',

// pages
'../pages/home',
'../pages/search',
'../pages/rubricators',
'../pages/summary',
'../pages/connecting',
'../pages/geography',
'../pages/groups',
'../pages/inside-group',
'../pages/rating',
'../pages/statistics',
'../pages/layouts',
'../pages/categories',
'../pages/subscriptions-bills',
'../pages/account';