@import './shared',
'./icons',
'./normalize',
'./flex-box',
'./grid-box',
'./root';


//  html

html {
   background-color: var(--body_bg);
   font-size: rem(16px);
}


// container  -- START
.container {
   max-width: 1400px;
   width: 100%;
   padding: 0 40px;
   margin: 0 auto;
}

// container  -- END


// cursor pointer -- START
.cursor-pointer {
   cursor: pointer;
}

// cursor pointer -- END 

// section-title -- START
.section-title {
   font: rem(20px) $Medium;
   line-height: rem(23px);
   color: var(--default_dark);
}

// section-title -- END


// overflow-hidden -- START
.overflow-hidden,
.modal-overflow {
   overflow: hidden;
}

// overflow-hidden -- END

// display block -- START
.d-block {
   display: block;
}

.d-none {
   display: none;
}

// display block -- END




@import // modules
'../modules/buttons',
'../modules/checked',
'../modules/input-textarea',
'../modules/pagination',
'../modules/dropdown-select',
'../modules/scrollbar',
'../modules/datetimerangepicker',
'../modules/modals-blocks',


// header
'../header/header',

// pages
'../pages/home',
'../pages/search',
'../pages/rubricators',
'../pages/summary',
'../pages/connecting',
'../pages/geography',
'../pages/groups',
'../pages/inside-group',
'../pages/rating',
'../pages/sales-orders',
'../pages/statistics';