.d-g {
   display: grid;
}

.g-t-c-2 {
   grid-template-columns: 1fr 1fr;
}

.g-t-c-2-fix {
   grid-template-columns: 1fr 1fr;
}

.g-t-c-3 {
   grid-template-columns: 1fr 1fr 1fr;
}

.g-t-c-4 {
   grid-template-columns: 1fr 1fr 1fr 1fr;
}

.g-t-c-5 {
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.g-g-20 {
   grid-gap: 20px;
}

.g-g-30 {
   grid-gap: 30px;
}

.g-g-60 {
   grid-gap: 60px;
}

.g-t-c-4-w {
   grid-template-columns: 1fr 1fr 1fr 1fr;
}