@import '../fonts/icons/icons';

.icon-messages:before {
  content: "\e911";
}

.icon-store:before {
  content: "\e912";
}

.icon-time:before {
  content: "\e913";
}

.icon-user:before {
  content: "\e914";
}

.icon-close:before {
  content: "\e915";
}

.icon-coin:before {
  content: "\e916";
}

.icon-doc:before {
  content: "\e917";
}

.icon-dollar:before {
  content: "\e918";
}

.icon-door-open:before {
  content: "\e919";
}

.icon-group:before {
  content: "\e91a";
}

.icon-history:before {
  content: "\e91b";
}

.icon-location:before {
  content: "\e91c";
}

.icon-menu-dots:before {
  content: "\e900";
}

.icon-arrow-right-end:before {
  content: "\e901";
}

.icon-arrow-right:before {
  content: "\e902";
}

.icon-arrow-left:before {
  content: "\e903";
}

.icon-arrow-left-start:before {
  content: "\e904";
}

.icon-pencil:before {
  content: "\e905";
}

.icon-question-1:before {
  content: "\e906";
}

.icon-burger:before {
  content: "\e907";
}

.icon-calendar:before {
  content: "\e908";
}

.icon-filter:before {
  content: "\e909";
}

.icon-settings:before {
  content: "\e90a";
}

.icon-trash:before {
  content: "\e90b";
}

.icon-slider:before {
  content: "\e90c";
}

.icon-caret:before {
  content: "\e90d";
}

.icon-arrow:before {
  content: "\e90e";
}

.icon-loop:before {
  content: "\e90f";
}

.icon-play:before {
  content: "\e910";
}