@import '../fonts/icons/icons';


.icon-settings:before {
  content: "\e903";
}

.icon-arrow-left:before {
  content: "\e904";
}

.icon-arrow-right:before {
  content: "\e905";
}

.icon-question-circle:before {
  content: "\e906";
}

.icon-sliders:before {
  content: "\e907";
}

.icon-trash:before {
  content: "\e908";
}

.icon-pen:before {
  content: "\e909";
}

.icon-calendar:before {
  content: "\e90a";
}

.icon-filter:before {
  content: "\e901";
}

.icon-Union:before {
  content: "\e902";
}

.icon-arrow-small:before {
  content: "\e90b";
}

.icon-search:before {
  content: "\e90c";
}

.icon-arrow:before {
  content: "\e900";
}