.btn {
    position: relative;
    font: rem(14px) $Medium;
    border-radius: var(--border-radius);
    text-align: center;

    &-background {
        background-color: var(--primary_color_green-dark);
        color: var(--neutral_color_white);

        &:hover {
            background-color: #6cce98;
        }
    }

    &-border {
        border: 1px solid var(--default_light);
        background-color: var(--neutral_color_white);
        color: var(--default_dark);

        &:hover {
            border: 1px solid var(--primary_color_green-dark);
        }

    }

    &-color {
        border: 1px solid var(--primary_color_green-dark);
        background-color: var(--neutral_color_white);
        color: var(--primary_color_green-dark);

        &:hover {
            border: 1px solid var(--primary_color_green-light);
        }

    }

    &-orange {
        background-color: #FC5D42;
        color: var(--neutral_color_white);

        &:hover {
            background-color: #f37058;
        }
    }
}

.search-btn {
    border-radius: 0px 4px 4px 0px;
    background-color: var(--primary_color_green-dark);
    color: var(--neutral_color_white);
    width: 43px;
    height: 39px;
    font-size: 17px;
    position: absolute;
    right: 0;
}