.btn {
    position: relative;
    font: rem(14px) $Medium;
    border-radius: var(--border-radius);
    padding: 10px 25px;
    text-align: center;
    white-space: nowrap;

    &-background {
        background-color: var(--primary_color_dark);
        color: var(--neutral_color_white);

        &:hover {
            background-color: #6cce98;
        }
    }

    &-border {
        border: 1px solid #BBBBBB;
        background-color: var(--neutral_color_white);
        color: var(--default_dark);

        &:hover {
            border: 1px solid var(--primary_color_dark);
        }

    }

    &-color {
        border: 1px solid var(--primary_color_dark);
        background-color: var(--neutral_color_white);
        color: var(--primary_color_dark);

        &:hover {
            border: 1px solid var(--primary_color_light);
        }

    }

    &-orange {
        background-color: #FC5D42;
        color: var(--neutral_color_white);

        &:hover {
            background-color: #f37058;
        }
    }

    &-yellow {
        background-color: #FFC212;
        color: var(--neutral_color_white);

        &:hover {
            background-color: #f7c739;
        }
    }

}

.search-btn {
    border-radius: 0px 4px 4px 0px;
    background-color: var(--primary_color_dark);
    color: var(--neutral_color_white);
    width: 43px;
    height: 39px;
    font: rem(17px);
    position: absolute;
    right: 0;
    white-space: nowrap;
}