.btn {
    position: relative;
    font: rem(14px) $Medium;
    border-radius: var(--border-radius);
    text-align: center;
    margin: 0 auto;

    &-background {
        background-color: var(--primary_color_green-dark);
        color: var(--neutral_color_white);

        &:hover {
            background-color: #6cce98;
        }
    }

    &-border {
        border: 1px solid var(--default_light);
        background-color: var(--neutral_color_white);
        color: var(--default_dark);

        &:hover {
            border: 1px solid var(--primary_color_green-dark);
        }

    }

    &-orange {
        background-color: #FC5D42;
        color: var(--neutral_color_white);

        &:hover {
            background-color: #f37058;
        }
    }
}