.checked {
    cursor: pointer;
    border: solid var(--primary_color_green-dark);
    border-radius: 2px;


    &-checkbox {
        @include wh(19px);
        position: relative;
        opacity: 1;
    }

    .checkbox:checked~.checked {
        border: unset;
    }

    .checkbox:checked~&-checkbox {
        background-color: var(--primary_color_green-dark);
        border: 1px solid var(--primary_color_green-dark);

        &::before {
            content: "";
            @include wh(7px, 13px);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            border: solid var(--neutral_color_white);
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }
}