.input-calendar {
   font: rem(14px) $Medium;
   color: var(--default_dark);
   padding-left: 25px;
}


.daterangepicker td.active,
.daterangepicker td.active:hover {
   background-color: var(--primary_color_green-dark);
}