.dropdown-border {
    max-width: rem(210px);
    width: 100%;

    &__select {
        width: 100%;
        background-color: var(--neutral_color_white);
        border: rem(1px) solid var(--grey_color_default-D3D3D3);

        &--selected {
            text-align: left;
            color: var(--neutral_color_black);
        }

        &--arrow {
            color: var(--neutral_color_black);
        }

    }

    &__title {
        font: rem(14px) $Regular;
        color: var(--neutral_color_black);
        margin-bottom: rem(8px);
    }
}

.dropdown-list {
    background: var(--neutral_color_white);
    box-shadow: 0px 4px 32px rgba(138, 138, 138, 0.1);
    border-radius: 0px 0px 8px 8px;
    padding: 20px;
    position: absolute;
    z-index: 999;
    width: 100%;
    overflow-y: auto;
    left: 0;
    top: calc(100% - -2px);

    &__item {
        &+& {
            margin-top: 20px;
        }

        &--link {

            font: rem(15px) $Regular;
            color: var(--default_dark);
            transition: var(--transition-global);

            &:active {
                color: var(--primary_color_green-dark);
            }

            &:hover {
                color: var(--primary_color_green-dark);
            }
        }
    }
}

.rotate {
    transform: rotate(180deg);
}