.input {
    width: 100%;
    color: var(--default_dark);
    border: 1px solid #E1E1E1;
    background-color: var(--neutral_color_white);
    border-radius: var(--border-radius);
    font: rem(14px) $Regular;
    padding: 10px 20px;

    &::placeholder {
        opacity: .37;
    }

    &:focus {
        border: 1px solid var(--primary_color_green-dark);
    }

    &:hover:not(:disabled) {
        border: 1px solid var(--primary_color_green-dark);
    }

    &.disabled {
        color: #AFB6BD;
        border: 1px solid #F0F1F2;
        background-color: #F7F8F9;
    }

    &.required {
        border: 1px solid #f02626;
    }

    &.border-0 {
        border: 0;

        &:hover {
            border: transparent;
        }

        &:focus {
            border: 0;
            outline: none;
        }
    }
}

.input-table {
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    background: var(--neutral_color_white);
    color: var(--default_dark);
    font: rem(14px) $Regular;
    padding: 7px 5px;
    width: 100%;

    &:focus {
        border: 1px solid var(--primary_color_green-dark);
    }

    &:hover:not(:disabled) {
        border: 1px solid var(--primary_color_green-dark);
    }
}