input {
    width: 100%;
    line-height: rem(27px);
    color: var(--default_dark);
    border: 1px solid #E1E1E1;
    background-color: var(--neutral_color_white);
    border-radius: var(--border-radius);

    &::placeholder {
        line-height: rem(27px);
        color: #BBBBBB;
        opacity: .37;
    }

    &:focus {
        border: 1px solid var(--primary_color_green-dark);
    }
}

.input-search {
    width: 100%;
    font: rem(15px) $Regular;
    padding: 10px 45px 10px 15px;

    &::placeholder {
        font: rem(15px) $Regular;

    }
}

// .input-table {}

// .input-standard {}