.groups-modals {
   max-width: 593px;
   width: 100%;
   padding: 30px;
   background-color: var(--neutral_color_white);
   border-radius: var(--border-radius);
   box-shadow: 0px 4px 32px rgba(138, 138, 138, 0.1);

   &__title {
      font: rem(20px) $Medium;
      line-height: rem(23px);
      color: var(--default_dark);
      margin-bottom: 24px;
   }

   &__btn {
      margin-top: 20px;

      &--cancel {
         margin-right: 10px;
      }

   }

   &__dropdown {
      border: 1px solid #E1E1E1;
      background-color: var(--neutral_color_white);
      border-radius: var(--border-radius);
      padding: 10px 20px;
      position: relative;

      &--btn {
         width: 100%;

         &-text {
            color: #BBBBBB;
            font: rem(14px) $Regular;

         }

         &-icon {
            color: var(--default_light);
         }
      }


   }

}


.delete-block {
   max-width: 593px;
   width: 100%;
   padding: 66px 0 62px;
   background-color: var(--neutral_color_white);
   border-radius: var(--border-radius);
   box-shadow: 0px 4px 32px rgba(138, 138, 138, 0.1);

   &__icon {
      font-size: 72px;
      color: #FC5D42;
      margin-bottom: 15px;
   }

   &__title {
      font: rem(24px) $Medium;
      color: var(--default_dark);
      margin-bottom: 10px;
   }

   &__info {
      font: rem(18px) $Regular;
      color: var(--default_dark);
      margin-bottom: 35px;
   }

   &__btn {
      &--cancel {
         margin-right: 10px;
      }

   }

}

.modal-block {
   position: fixed;
   top: 0px;
   left: 0px;
   right: 0px;
   bottom: 0px;
   background-color: rgba(0, 0, 0, 0.2);

}