.groups-modals {
   max-width: 593px;
   width: 100%;
   padding: 30px;
   background-color: var(--neutral_color_white);
   border-radius: var(--border-radius);
   box-shadow: 0px 4px 32px rgba(138, 138, 138, 0.1);

   &__title {
      font: rem(20px) $Medium;
      line-height: rem(23px);
      color: var(--default_dark);
      margin-bottom: 24px;
   }

   &__btn {
      margin-top: 20px;

      &--cancel {
         margin-right: 10px;
      }

   }

   &__dropdown {
      border: 1px solid #E1E1E1;
      background-color: var(--neutral_color_white);
      border-radius: var(--border-radius);
      padding: 10px 20px;
      position: relative;

      &--btn {
         width: 100%;

         &-text {
            color: #BBBBBB;
            font: rem(14px) $Regular;

         }

         &-icon {
            color: var(--default_light);
         }
      }


   }

}


.delete-block {
   max-width: 593px;
   width: 100%;
   padding: 66px 0 62px;
   background-color: var(--neutral_color_white);
   border-radius: var(--border-radius);
   box-shadow: 0px 4px 32px rgba(138, 138, 138, 0.1);

   &__icon {
      font-size: 72px;
      color: #FC5D42;
      margin-bottom: 15px;
   }

   &__title {
      font: rem(24px) $Medium;
      color: var(--default_dark);
      margin-bottom: 10px;
   }

   &__info {
      font: rem(18px) $Regular;
      color: var(--default_dark);
      margin-bottom: 35px;
   }

   &__btn {
      &--cancel {
         margin-right: 10px;
      }

   }

}

.modal-block {
   position: fixed;
   top: 0px;
   left: 0px;
   right: 0px;
   bottom: 0px;
   background-color: rgba(0, 0, 0, 0.2);
}

.user-dropdown {
   width: 209px;
   box-shadow: 0px 4px 32px rgba(138, 138, 138, 0.1);
   border-radius: 0px 0px 8px 8px;
   background: var(--neutral_color_white);
   padding-right: 20px;
   position: absolute;
   top: calc(100% + 13px);
   right: 0;
   transition: var(--transition-global);
   z-index: 99999;


   &__name {
      background: var(--primary_color_dark);
      border-radius: 0px 8px 8px 0px;
      padding: 11px 22px 14px 20px;
      position: relative;

      &--circle {
         width: 19px;
         height: 19px;
         background-color: var(--neutral_color_white);
         border-radius: 50%;
         position: absolute;
         right: -9px;
         top: 50%;
         transform: translateY(-50%);


         &::before {
            position: absolute;
            content: "";
            width: 9px;
            height: 9px;
            background-color: var(--primary_color_dark);
            border-radius: 50%;
         }
      }

      &--details {
         font: rem(16px) $Bold;
         color: var(--neutral_color_white);
         padding-bottom: 4px;
      }

      &--info {
         font: rem(13px) $Regular;
         color: var(--neutral_color_white);
      }
   }

   &__list {
      padding: 20px 0 20px 20px;

      &--item {
         &+& {
            padding-top: 15px;
         }

         &:hover &-main {
            color: var(--primary_color_dark);
         }

         &-main {
            color: var(--default_dark);
            font: rem(14px) $Regular;

            &__icon {
               color: #BBBBBB;
               margin-right: 15px;
            }
         }

      }
   }

}