.table {
   border: 1px solid #E1E1E1;
   border-radius: 6px;
   overflow: hidden;
   margin-top: 20px;
   position: relative;

   &-block {
      height: 525px;
      min-height: 70vh;
      padding-right: 30px;

      table {
         thead {
            position: sticky;
            top: 0;
            z-index: 99;


            tr {
               background-color: #F9F9FB;

               th {
                  padding: 8px;
                  font: rem(15px) $Medium;
                  color: var(--default_light);

                  .icon-filter {
                     color: var(--default_light);
                  }

                  &.resizing {
                     cursor: ew-resize;
                  }

                  &.noSelect {
                     user-select: none;
                  }

                  .input-table {
                     border: 1px solid #BDBDBD;
                     border-radius: 4px;
                     background: var(--neutral_color_white);
                     color: var(--default_dark);
                     font: rem(14px) $Regular;
                     padding: 5px;
                     width: 100%;

                     &:focus {
                        border: 1px solid var(--primary_color_green-dark);
                     }

                     &:hover:not(:disabled) {
                        border: 1px solid var(--primary_color_green-dark);
                     }
                  }

                  .table-line::before {
                     content: '';
                     position: absolute;
                     top: 0;
                     bottom: 0;
                     left: -6px;
                     right: 0;
                     background-color: transparent;
                  }

                  .icon-burger {
                     color: var(--default_light);
                     opacity: 0;
                     visibility: hidden;
                     transition: var(--transition-global);
                  }

                  &:hover {
                     .icon-burger {
                        opacity: 1;
                        visibility: visible;
                     }
                  }
               }
            }
         }

         tbody {
            tr {
               &:nth-child(odd) {
                  background-color: var(--neutral_color_white);
               }

               &:nth-last-child(even) {
                  background-color: #F9F9FB;
               }

               &:hover {
                  background-color: #E1F7EA;
               }

               td {
                  font: rem(14px) $Regular;
                  color: var(--default_dark);
                  padding: 10px;

                  .result-down {
                     background: rgba(252, 93, 66, 0.3);
                     border-radius: var(--border-radius);
                     color: #FF7D51;
                     padding: 3px 13px;
                     margin-left: 5px;
                  }

                  .result-up {
                     background: rgba(45, 203, 115, 0.2);
                     border-radius: var(--border-radius);
                     color: var(--primary_color_green-dark);
                     padding: 3px 13px;
                     margin-left: 5px;
                  }


               }

               .table-img {
                  min-width: 35px;
                  height: 35px;
                  border-radius: var(--border-radius);
                  margin-right: 7px;
               }

               .table-title {
                  font: rem(14px) $Regular;
                  color: var(--default_dark);
               }

               .table-subtitle {
                  font: rem(12px) $Regular;
                  color: #BBBBBB;
               }

               .table-icon {
                  color: var(--default_light);
               }
            }
         }

         .table-checked {
            margin-right: 17px;
         }

         .table-dropdown {
            position: absolute;
            padding: 15px;
            background-color: var(--neutral_color_white);
            top: 100%;
            right: 0;
            box-shadow: 0px 4px 32px rgba(138, 138, 138, 0.1);
            border-radius: 0px 0px 8px 8px;

            &__main {
               position: relative;

               &--btn {
                  border: 1px solid #E1E1E1;
                  box-sizing: border-box;
                  border-radius: var(--border-radius);
                  padding: 10px 20px;
                  width: max-content;
                  margin-bottom: 10px;

                  &-icon {
                     color: var(--default_light);
                  }

               }
            }

            &__btn {
               margin-top: 10px;

               &--cancel {
                  margin-right: 10px;
               }
            }
         }
      }

      &__down {
         padding: 10px 20px;
         background-color: var(--neutral_color_white);
         position: relative;
         z-index: 999;

         &--btn {
            &-main {
               &+& {
                  margin-left: 10px;
               }
            }
         }

         &--pages {
            &-info {
               font: rem(14px) $Regular;
               color: var(--default_light);
               margin-right: 40px;
            }

            &-part {
               &__btn {
                  color: var(--default_light);
               }

               &__text {
                  color: var(--default_light);
                  font: rem(14px) $Regular;
                  margin: 0 10px;

               }
            }
         }
      }
   }

   &-sidebar {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 99;
      border-left: 1px solid #E1E1E1;

      &--list {

         &-item {
            padding: 20px 3px;
            border-bottom: 1px solid #E1E1E1;
            writing-mode: vertical-lr;
            color: var(--default_light);
            transition: var(--transition-global);

            &__icon {
               transform: rotate(90deg);
            }

            &__text {
               font: rem(14px) $Bold;
            }

            &:hover,
            &.active {
               color: var(--primary_color_green-dark);
            }

         }

         &-main {
            position: absolute;
            top: 0;
            width: 200px;
            right: 31px;
            height: 100%;
            padding: 10px 0;
            border-left: 1px solid #E1E1E1;
            border-bottom: 1px solid #E1E1E1;
            background-color: var(--neutral_color_white);

            &__parts {
               width: 100%;
               border-bottom: 1px solid #E1E1E1;

               &--search {
                  padding: 0 20px 10px 10px;


                  &-icon {
                     color: var(--default_light);
                     margin-right: 10px;
                  }

                  &-checked {
                     margin-right: 16px;


                  }
               }
            }

            &__items {
               padding: 13px 10px 0 43px;

               &--checkbox {
                  &+& {
                     margin-top: 13px;
                  }

                  &-dropdown {
                     position: relative;
                     color: var(--default_light);

                     &__icon {
                        position: absolute;
                        left: -34px;
                        top: 50%;
                        transform: translateY(-50%);
                     }

                     &__checked {
                        margin-right: 10px;
                     }



                     &:hover {
                        color: var(--primary_color_green-dark);
                     }

                     &:active {
                        color: var(--primary_color_green-dark);
                     }
                  }

                  &-text {
                     font: rem(15px) $Medium;
                     color: var(--default_light);
                     margin-left: 10px;
                  }

                  &-underpart {
                     padding-left: 40px;

                     &__block {
                        margin-top: 11px;
                        color: var(--default_light);

                        &:hover {
                           color: var(--primary_color_green-dark);
                        }

                        &:active {
                           color: var(--primary_color_green-dark);
                        }

                        &--checked {
                           margin-right: 10px;
                        }

                        &--choose {
                           position: absolute;
                           width: 180px;
                           left: 10px;
                           z-index: 999;
                           background-color: var(--neutral_color_white);

                           &-dropdown {
                              border-radius: var(--border-radius);
                              border: 1px solid #E1E1E1;
                              padding: 7px;
                              color: var(--default_light);

                              &__text {
                                 font: rem(14px) $Regular;
                              }
                           }

                           &-input {
                              margin: 10px 0;

                           }

                           &-btn {
                              &__main {
                                 border-radius: var(--border-radius);
                                 font: rem(14px) $Medium;
                              }

                              &__cancel {
                                 padding: 6px 14.5px;
                                 margin-right: 10px;
                                 background-color: #E1E1E1;
                                 color: var(--default_light);

                                 &:hover {
                                    background-color: rgba(#E1E1E1, 0.8);

                                 }
                              }

                              &__approve {
                                 padding: 6px 14.5px;
                                 background-color: var(--primary_color_green-dark);
                                 color: var(--neutral_color_white);

                                 &:hover {
                                    background-color: #6cce98;
                                 }
                              }
                           }
                        }
                     }
                  }


               }
            }

            &__settings {
               padding: 20px 10px;

               &--block {
                  margin-bottom: 20px;

                  &-list {
                     color: var(--default_light);

                     &__text {
                        font: rem(15px) $Medium;
                     }

                     &:hover {
                        color: var(--primary_color_green-dark);
                     }

                     &:active {
                        columns: var(--primary_color_green-dark);
                     }

                  }

                  &-btn {
                     &__main {
                        width: 100%;
                        color: var(--default_light);
                        font: rem(14px) $Regular;
                        padding: 7px 0;
                        border: 1px solid #E1E1E1;
                        border-radius: var(--border-radius);
                        margin-top: 10px;
                        background-color: var(--neutral_color_white);

                        &:hover {
                           border: 1px solid var(--primary_color_green-dark);
                        }
                     }

                  }
               }
            }
         }

      }
   }
}