.groups {
   &-calendar {
      border: 1px solid #E1E1E1;
      border-radius: var(--border-radius);
      padding: 9px 20px;
      margin: 0 0 0 20px;
      color: var(--default_dark);
      position: relative;
      font: rem(14px) $Regular;
   }
}