.home {
   &-results {
      &__block {
         margin: 30px 0 24px;

         &--graphic {
            padding: 24px 20px 23px 22px;
            background: var(--neutral_color_white);
            border-radius: var(--border-radius);

            &-canvas {
               width: 144px;
               height: 70px;
            }

            &-info {
               &__title {
                  font: rem(18px) $Medium;
                  color: var(--default_light);
                  text-align: right;
                  margin-bottom: 24px;
               }

               &__number {
                  &--icon {
                     font-size: 8px;
                     color: var(--primary_color_green-dark);
                     transform: rotate(180deg);
                  }

                  &--item {
                     font: rem(20px) $Regular;
                     color: var(--default_dark);
                     margin-left: 10px;
                     text-align: right;
                  }
               }
            }
         }

         &--things {
            border-top: 4px solid var(--primary_color_green-dark);
         }

         &--brend {
            border-top: 4px solid #0AAFFF;
         }

         &--sales {
            border-top: 4px solid #FFC212;
         }

         &--saler {
            border-top: 4px solid #ED63D2;
         }
      }
   }

   &-main {
      &__block {
         padding: 40px 45px 40px 40px;
         border: 1px solid #F2F2F7;
         border-radius: var(--border-radius);
         background: var(--neutral_color_white);

         &--info {
            width: 50%;
            padding-right: 100px;

            &-title {
               color: var(--default_dark);
               font: rem(24px) $Medium;
               line-height: rem(28px);
            }

            &-subtitle {
               color: #BBBBBB;
               font: rem(12px) $Regular;
               line-height: rem(14px);
            }

            &-text {
               font: rem(15px) $Regular;
               color: var(--default_light);
               line-height: rem(20px);
               margin: 17px 0 20px;
            }

            &-btn {
               padding: 14px 30px;
            }


         }

         &--video {
            position: relative;

            &-form {
               width: 100%;
               height: 287px;
               position: relative;
               border-radius: var(--border-radius);
               transition: 0.4s;
               overflow: hidden;

               &__play {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  border-radius: var(--border-radius);
                  cursor: pointer;

                  &--btn {
                     position: absolute;
                     width: 60px;
                     height: 60px;
                     border-radius: 50%;
                     background: rgba(44, 201, 115, 0.6);
                     top: 50%;
                     left: 50%;
                     transform: translateX(-50%) translateY(-50%);

                     &-icon {
                        color: var(--neutral_color_white);
                        font-size: 33px;
                        margin-left: 5px;
                     }


                  }

               }
            }

         }

      }
   }
}