.layouts {
   margin-top: 44px;

   &-circle {
      max-width: 400px;
      width: 100%;

      &__img {
         width: 268px;
         height: 268px;
         position: relative;
         margin: 0 auto 35px;

         &--text {
            position: absolute;
            font: rem(20px) $Medium;
            line-height: rem(23px);
            color: var(--default_dark);
            transform: translate(-50%);
            left: 50%;
            text-align: center;
         }
      }

      &__parts {
         margin: 0 auto;

         &--text {
            margin-bottom: 20px;
         }
      }
   }

}