.rubricators {
   &-block {
      padding-top: 15px;

      &__list {
         &--item {
            &-link {
               border-radius: var(--border-radius);
               background-color: var(--neutral_color_white);
               transition: var(--transition-global);

               &+& {
                  margin-top: 10px;
               }

               &__main {
                  position: relative;
                  padding: 9px 17px 9px 20px;



                  &--title {
                     font: rem(15px) $Regular;
                     line-height: rem(22px);
                     color: var(--default_dark)
                  }

                  &--icon {
                     color: var(--primary_color_green-dark);
                  }

                  &:hover {
                     background: #E1F7EA;
                  }
               }


               &__subblock {
                  top: 100%;
                  width: 100%;
                  left: 0;

                  &--part {
                     padding: 9px 40px;

                     &-title {
                        font: rem(15px) $Regular;
                        line-height: rem(22px);
                        color: var(--default_dark);

                        &:hover {
                           color: var(--primary_color_green-dark);
                        }
                     }

                     &-icon {
                        color: var(--primary_color_green-dark);

                     }


                  }


               }
            }
         }
      }

      .rotate {
         transform: rotate(180deg);
      }
   }
}