.statistics {
   &-block {
      &__name {
         &--title {
            margin-bottom: 32px;

            &-main {
               &__img {
                  width: 50px;
                  height: 50px;
                  margin-right: 16px;
               }

               &__text {
                  &--info {
                     font: rem(20px) $Medium;
                     color: var(--default_dark);
                     margin-bottom: 4px;
                  }

                  &--link {
                     font: rem(14px) $Regular;
                     line-height: rem(16px);
                     color: var(--primary_color_green-dark);
                  }
               }
            }

            &-date {
               &__calendar {
                  border: 1px solid #E1E1E1;
                  border-radius: var(--border-radius);
                  padding: 9px 20px;
                  margin-left: 20px;
                  position: relative;
               }
            }
         }

         &--number {
            &-info {
               position: relative;
               padding-left: 10px;
               border-left: 3px solid;

               &__title {
                  font: rem(12px) $Bold;
                  line-height: rem(14px);
                  text-transform: uppercase;
                  color: #BBBBBB;
               }

               &__main {
                  margin-top: 10px;

                  &--cost {
                     font: rem(24px) $Regular;
                     color: var(--default_dark);
                  }

                  &--icon {
                     color: var(--primary_color_green-dark);
                  }

               }
            }

            &-red {
               border-color: #FC5D42;
            }

            &-green {
               border-color: var(--primary_color_green-dark);
            }
         }
      }
   }

   &-main {

      &__info {
         margin-right: 30px;
         margin-top: 30px;


         &--block {
            width: 469px;
            border: 1px solid #F2F2F7;
            border-radius: var(--border-radius);
            background-color: var(--neutral_color_white);
            padding: 30px 42px 47px 30px;

            &-title {
               font: rem(18px) $Medium;
               color: var(--default_dark);
               margin-bottom: 24px;
            }

            &-parts {
               &+& {
                  margin-top: 16px;
               }

               &__name {
                  width: 50%;
                  font: rem(14px) $Medium;
                  color: #BBBBBB;
                  display: block;
               }

               &__half {
                  width: 50%;
               }

               &__info {
                  font: rem(14px) $Regular;
                  color: var(--default_dark);
               }

               &__add {
                  &--details {
                     padding: 3px 8px;
                     background: #D9FFE1;
                     border-radius: 4px;

                     &+& {
                        margin-top: 9px;
                     }

                     &-name {
                        font: rem(12px) $Regular;
                        white-space: nowrap;
                     }

                     &-name,
                     &-icon {
                        color: var(--primary_color_green-dark);
                     }

                     &-icon {
                        font-size: 8px;
                        margin-left: 10px;
                     }

                  }

                  &--rating {
                     padding: 3px 8px;
                     background: rgba(255, 194, 18, 0.3);
                     border-radius: 4px;
                     margin-left: 4px;

                     &-main {
                        color: #FF7D51;
                        font: rem(12px) $Regular;
                        white-space: nowrap;
                     }

                  }

                  &--btn {
                     margin-top: 10px;
                  }
               }

               &__underline {
                  font: rem(14px) $Regular;
                  text-decoration-line: underline;
                  color: var(--primary_color_green-dark);
               }
            }

            &-btn {
               margin-left: 50%;
               margin-top: 10px;
            }
         }

         &--photos {
            margin-top: 30px;
            border: 1px solid #F2F2F7;
            border-radius: var(--border-radius);
            background-color: var(--neutral_color_white);
            padding: 30px 42px 47px 30px;

            &-part {
               width: 100px;
               height: 100px;
               border-radius: var(--border-radius);
               cursor: pointer;

               &+& {
                  margin-left: 20px;
               }
            }
         }

         &--remains {
            margin-top: 30px;
            border: 1px solid #F2F2F7;
            border-radius: var(--border-radius);
            background-color: var(--neutral_color_white);

            &-sections {
               &__block {
                  &--title {
                     font: rem(17px) $Medium;
                     color: var(--default_dark);
                  }

                  &--list {
                     &-item {
                        &__link {
                           font: rem(14px) $Regular;
                        }
                     }
                  }
               }
            }

            &-info {
               padding: 20px 20px 30px;

               &__orders {
                  border: 10px solid #BBBBBB;
                  border-radius: 50%;
                  width: 160px;
                  height: 160px;
                  position: relative;
                  font: rem(20px) $Medium;
                  color: var(--default_dark);
                  margin-right: 30px;

                  &::before {
                     position: absolute;
                     content: "";
                     width: 163px;
                     height: 89px;
                     border-radius: 50% 50% 0 0 / 100% 100% 0 0;
                     border: 13px solid var(--primary_color_green-dark);
                     border-bottom: 0;
                     transform: rotate(-57deg);
                     left: -43px;
                     top: 5px;
                  }
               }

               &__city {
                  &--name {
                     font: rem(14px) $Regular;
                     color: var(--default_dark);
                     position: relative;
                     padding-left: 24px;

                     &+& {
                        margin-top: 20px;
                     }

                     &::before {
                        position: absolute;
                        content: "";
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        left: 0;
                        transform: translateY(50%);
                        bottom: 50%;
                     }
                  }

                  &--more {
                     &::before {
                        background-color: var(--primary_color_green-dark);
                     }
                  }

                  &--few {
                     &::before {
                        background-color: #BBBBBB;
                     }
                  }
               }
            }

         }
      }

      &__graphic {
         width: calc(100% - 469px);
      }
   }
}