.summary {
   &-results {
      margin-top: 21px;

      &__block {
         padding: 20px;
         background-color: var(--neutral_color_white);
         border-radius: 6px;
         border-top: 3px solid;

         &--item {
            &-title {
               &__icon {
                  color: #C4C4C4;
                  margin-left: -9px;
               }

               &__text {
                  font: rem(18px) $Medium;
                  line-height: rem(21px);
                  color: var(--default_dark);
               }
            }

            &-list {
               margin-top: 21px;

               &__text {
                  font: rem(12px) $Bold;
                  line-height: rem(14px);
                  text-transform: uppercase;
                  color: #BBBBBB;
               }

               &__sum {
                  text-align: right;

                  &--all {
                     margin-bottom: 2px;

                     &-icon {
                        color: var(--primary_color_green-dark);
                        margin-right: 10px;
                     }

                     &-icondown {
                        color: #FF7D51;
                        margin-right: 10px;
                     }

                     &-number {
                        font: rem(14px) $Regular;
                        color: var(--default_dark);
                     }

                     &-numberdown {
                        font: rem(14px) $Regular;
                        color: #FF7D51;
                     }
                  }

                  &--plus {
                     font: rem(11px) $Regular;
                     color: var(--primary_color_green-dark);
                  }
               }

            }
         }
      }

      &__green {
         border-color: var(--primary_color_green-dark);
      }

      &__pink {
         border-color: #ED63D2;
      }

      &__orange {
         border-color: #FF7D51;
      }

      &__blue {
         border-color: #0AAFFF;
      }

      &__yellow {
         border-color: #FFC212;
      }
   }

   &-graphic {
      &__block {
         &--details {
            margin: 31px 60px 0;

            &-item {
               margin-bottom: 20px;

               &:not(:last-child) {
                  margin-right: 42px;
               }

               &__text {
                  margin: 0 6px 0 8px;
                  font: rem(14px) $Medium;
                  color: var(--default_dark);
                  white-space: nowrap;
               }

               &__circle {
                  width: 8px;
                  height: 8px;
                  background-color: var(--primary_color_green-dark);
                  border-radius: 50%;
               }

               &__square {
                  width: 12px;
                  height: 12px;
               }

               &__green {
                  background: rgba(45, 202, 115, 0.3);
               }

               &__circlepink {
                  background: #ED63D2;
               }

               &__squarepink {
                  background: #FBE0F6;
               }

               &__circleorange {
                  background: #FF7D51;
               }

               &__squarered {
                  background: rgba(252, 93, 66, 0.3);
               }

               &__circleyellow {
                  background: #FFC212;
               }

               &__circlepurpel {
                  background: #9064F6;
               }

               &__circleblue {
                  background: #0AAFFF;
               }

               &__circlered {
                  background: #EB5757;
               }
            }
         }
      }
   }
}