.loader {
   position: fixed;
   top: 0;
   left: 0;
   @include wh(100%);
   z-index: 9999999999999;
}

.loader:before {
   content: '';
   box-sizing: border-box;
   position: absolute;
   top: 50%;
   left: 50%;
   border-top: rem(2px) solid var(--primary_color_default-0DB02B);
   border-right: rem(2px) solid transparent;
   border-radius: 50%;
   animation: loader-rotate .6s linear infinite;
   width: 2rem;
   height: 2rem;
   margin-top: -1rem;
   margin-left: -1rem;
   border-top-width: rem(3px);
   border-right-width: rem(3px);
   border-top-color: var(--primary_color_default-0DB02B);
}

@-webkit-keyframes loader-rotate {
   to {
      transform: rotate(360deg)
   }
}

@-moz-keyframes loader-rotate {
   to {
      transform: rotate(360deg)
   }
}

@-o-keyframes loader-rotate {
   to {
      transform: rotate(360deg);
   }
}

@keyframes loader-rotate {
   to {
      transform: rotate(360deg)
   }
}