:root {

    // colors
    // primary color
    --primary_color_green-dark: #2DCA73;
    --primary_color_green-light: #E1F7EA;
    --primary_color_orange-dark: #FC5D42;
    --primary_color_orange-light: #FF7D51;

    // grey color 
    --grey_color_title-808080: #808080;
    --grey_color_default-bg: #F3F3F3;
    --grey_color_dark-text: #4F4F4F;
    --grey_color_light-text: #BBBBBB;
    --grey_color_border-input: #E1E1E1;
    --grey_color_border-page: #F2F2F7;
    --grey_color_table-bg: #F9F9FB;


    // neutral
    --neutral_color_white: #FFFFFF;
    --neutral_color_black: #232C31;


    --border-radius: 4px;
    --transition-all-ease: all 0.3s ease;
}